@{
    ViewBag.Title = "Acerca de";
    Layout = ViewBag.Layout;
}

<br />
<div class="container">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="panelHead">
                        Acerca de
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 alignCenter">
                                <img src="~/Content/images/acercade.jpg" />
                                <br/>
                                <span class="colorGrey">Integrantes: Baldo Ignacio    González Diego</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>